
#top {
    position: relative;
    background-color: #363636;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    background-color: #363636;
    float: left;
    height: 100%;
    padding: 5px;
    position: fixed;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    height: 100%;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #F5F5F5;
    font-weight : bold;
    text-decoration : underline;
}

.btnMenu{
    background-color: #ffffff;
    width: 150px;
}


/*TABELAS*/

.dataTable {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #ffffff;
    margin-top: 25px;

    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;

    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;

    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;

    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}.dataTable table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;

}
.dataTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.dataTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.dataTable table tr:first-child td:last-child {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}.dataTable tr:last-child td:first-child{
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}.dataTable tr:hover td{

}
.dataTable tr:nth-child(odd){ background-color:#D6C05C; }
.dataTable tr:nth-child(even)    { background-color:#DBD09E; }.dataTable td{
    vertical-align:middle;


    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:10px;
    font-size:11px;
    font-family:Arial;
    font-weight:normal;
    color:#1A1A1A;
}.dataTable tr:last-child td{
    border-width:0px 1px 0px 0px;
}.dataTable tr td:last-child{
    border-width:0px 0px 1px 0px;
}.dataTable tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.dataTableTitle{

    background:-o-linear-gradient(bottom, #fcfcfc 5%, #c6c6c6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #c6c6c6) );
    background:-moz-linear-gradient( center top, #fcfcfc 5%, #c6c6c6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#c6c6c6");	background: -o-linear-gradient(top,#fcfcfc,c6c6c6);

    background-color:#fcfcfc;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:15px;
    font-family:Trebuchet MS;
    font-weight:bold;
    color:#383838;
}

.dataTableTitle:hover{

    background:-o-linear-gradient(bottom, #fcfcfc 5%, #c6c6c6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #c6c6c6) );
    background:-moz-linear-gradient( center top, #fcfcfc 5%, #c6c6c6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#c6c6c6");	background: -o-linear-gradient(top,#fcfcfc,c6c6c6);

    background-color:#fcfcfc;
}

#messages .info td {
    background: url('info.gif') no-repeat left center;
    padding-left: 15px;
}
#messages .error td {
    background: url('error.gif') no-repeat left center;
    padding-left: 15px;
}

#messages {
    width: 375px;
    margin: 0 auto;
    border: 1px black solid;
    border-collapse: collapse;
    color: #e33b06;
}

.playBtn{
    width: 35%;
}

.playBtn:hover{
    width: 42%
}

.edAvg{
    color: #C97200;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
